<div class="modal-dialog my-5" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Install the UndercoverCI GitHub App</h5>
    </div>
    <div class="modal-body">
      UndercoverCI is asking for write permission to your checks, pull requests and code. I am coding late and can't think of any other good copywriting.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">
        Install UndercoverCI on your GitHub account
      </button>
    </div>
  </div>
</div>
