<footer class="container px-3 py-3">
  © 2025 Undercover · <a href="mailto:jan@undercover-ci.com">Support</a> · <%= link_to("Docs", docs_page_path) %><% if ENV["FF_TERMS_OF_SERVICE"] %> · <a href="<%= privacy_page_path %>" data-turbolinks="false">Privacy</a> · <a href="<%= terms_page_path %>" data-turbolinks="false">Terms of service</a><% end %> · <a href="https://grodowski.github.io" target="_blank">About</a>
</footer>
