<footer class="container px-3 py-3">
  <hr/>
  © 2019 <a href="https://github.com/grodowski/undercover-ci">Undercover CI</a> by <a href="https://twitter.com/mrgrodo">@mrgrodo</a><% if ENV["FF_TERMS_OF_SERVICE"] %> · <a href="<%= privacy_page_path %>">Privacy</a> · <a href="<%= terms_page_path %>">Terms of service</a><% end %>
</footer>
