<div class="starter-template">
  <h1>Welcome to the private beta! 🥳</h1>
  <p class="lead">Please proceed to setup by authenticating with your GitHub account.<br/>If anything goes sideways, <a href="mailto:jan@undercover-ci.com">let me know!</a></p>

  <%= link_to "Sign Up with GitHub", "/auth/github", class: "btn btn-lg btn-primary", method: :post %>
</div>
