<h2 class="mb-3">Getting started</h2>
<h4 class="mb-2">1. Add UndercoverCI to your GitHub account</h4>
<p>
  The signup is still invite-only - please head to the <%= link_to("home page", root_path) %> to subscribe.
  Follow the signup instructions to connect your GitHub account and select a subset of
  your repositories to share with UndercoverCI.
</p>
<p class="text-center">
  <%= image_tag("install_screenshot.png", class: "border new-installation-image") %>
</p>
<p>
  Once you do that, UndercoverCI will start to analyse every new commit and pull request.
</p>
<h4 class="mb-2">2. Configure coverage data reporting</h4>
<%= render partial: "partials/coverage_upload_instruction" %>
