<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Undercover CI is available as a hosted GitHub App and is free to use while in BETA.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <!-- <div class="card-header">
        <h4 class="my-0 font-weight-normal">Private beta</h4>
      </div> -->
      <div class="card-body">
        <h1 class="card-title pricing">Free</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited GitHub users</li>
          <li>Unlimited private and public repositories</li>
          <li>200 Pull Request checks / mo</li>
        </ul>
        <%= render partial: "partials/list_signup" %>
      </div>
    </div>
  </div>
</div>
