<% content_for(:title) { "Pricing" } %>

<div class="px-3 py-3 pt-md-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">UndercoverCI is fully open source and available as a hosted GitHub App.</p>
</div>

<div class="container">
  <div class="card-deck mb-5">
    <div class="card mb-4 shadow-lg">
      <div class="card-header text-center">
        <h4>GitHub App</h4>
      </div>
      <div class="card-body">
        <div class="mb-4">
          <h4>$49 per month</h4>
          <span class="text-muted">VAT not included, try it free for 14 days</span>
        </div>
        <p >Fully-featured GitHub integration with quick setup and:</p>
        <p>👉 Coverage warnings as GitHub annotations</p>
        <p>👉 Diff coverage breakdown for each commit</p>
        <p>👉 Unlimited builds for private and public repos</p>
        <p>👉 Unlimited users</p>
        <br/>
        <% if current_user.nil? %>
          <p class="text-center">
            <%= link_to "Sign Up with GitHub", "/auth/github", class: "btn btn-md btn-primary", method: :post %>
          </p>
        <% else %>
          <p class="text-center">
            <%= link_to "Start subscription", settings_path, class: "btn btn-md btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header text-center">
        <h4>Free</h4>
      </div>
      <div class="card-body">
        <p>The UndercoverCI project and related Ruby gems are <b>entirely open-source and free to use</b>.</p>
        <p>If a hosted and convenient GitHub App integration is not for you, check out these links to get started:</p>
        <ul>
          <p>🔗 <a href="https://medium.com/@mrgrodo/improve-your-ruby-code-reviews-with-actionable-code-coverage-and-undercover-c4480575ea69">Improve your Ruby code reviews with actionable code coverage and Undercover</a>
          <p>🔗 <a href="https://github.com/grodowski/undercover-ci">grodowski/undercover-ci</a></p>
          <p>🔗 <a href="https://github.com/grodowski/undercover">grodowski/undercover</a></p>
          <p>🔗 <a href="https://github.com/grodowski/pronto-undercover">grodowski/pronto-undercover</a></p>
        </ul>
      </div>
    </div>
  </div>
</div>
