<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Undercover CI is available as a hosted GitHub App and is free to use while in BETA.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Beta</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited users</li>
          <li>Private and public repositories</li>
          <li>Support via GitHub issues</li>
          <li>Limited availability</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Get started with GitHub</button>
      </div>
    </div>
  </div>
</div>
