<% content_for(:title) { "Pricing" } %>
<% content_for(:meta_description) do %>
UndercoverCI is a subscription-based GitHub integration, free of charge for public repositories, individual GitHub accounts and educational purposes.
<% end %>

<div class="container py-5">
  <div class="mb-4">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Undercover is available as a hosted GitHub App and open source toolkit.</p>
  </div>

  <%= render partial: 'partials/pricing_cards' %>
  <hr/>

  <div>
    <h4 class="text-center my-4" >FAQ</h4>
    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_1" role="button" aria-expanded="false" aria-controls="collapse_1">
        How do I pay?
      </a>
    </p>
    <div class="collapse" id="collapse_1">
      <div class="card card-body mt-1 mb-3">
        You can pay for UndercoverCI with an accepted credit card (Discover, Visa, Mastercard, AMEX, Diner's Club) or PayPal. Subscriptions and payments are handled by Gumroad Inc. where you can access and modify your data as well as cancel anytime.
      </div>
    </div>

    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_2" role="button" aria-expanded="false" aria-controls="collapse_2">
        Will I receive a VAT invoice?
      </a>
    </p>
    <div class="collapse" id="collapse_2">
      <div class="card card-body mt-1 mb-3">
        <span><%= link_to "Yes", "https://customers.gumroad.com/article/194-i-need-an-invoice" %>. Moreover, Gumroad refunds the full VAT amount to all EU-based business customers (location dependent).</span>
      </div>
    </div>

    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_3" role="button" aria-expanded="false" aria-controls="collapse_3">
        How can I invite more users to use UndercoverCI?
      </a>
    </p>
    <div class="collapse" id="collapse_3">
      <div class="card card-body mt-1 mb-3">
        A single subscription allows you to use UndercoverCI within a single GitHub organization only. All members of your organization gain access instantly once they sign in with the correct GitHub login.
      </div>
    </div>

    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_4" role="button" aria-expanded="false" aria-controls="collapse_4">
        Which languages and SCMs are supported?
      </a>
    </p>
    <div class="collapse" id="collapse_4">
      <div class="card card-body mt-1 mb-3">
        UncercoverCI is a dedicated GitHub integration which suports all Ruby and Ruby on Rails projects.
      </div>
    </div>

    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_5" role="button" aria-expanded="false" aria-controls="collapse_5">
        Do I have to give access to my code?
      </a>
    </p>
    <div class="collapse" id="collapse_5">
      <div class="card card-body mt-1 mb-3">
        <p>Yes. UndercoverCI will ask for the following GitHub permissions: Email address, Repository metadata (read-only), Repository contents (read-only), Checks (read and write). Permissions can be fine-tuned and granted only for selected repositories.</p>

        <p>Look into the <code>undercover</code> gem and command-line tool for a self-hosted (and free) alternative.</p>
      </div>
    </div>

    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_6" role="button" aria-expanded="false" aria-controls="collapse_6">
        What if I am building open source?
      </a>
    </p>
    <div class="collapse" id="collapse_6">
      <div class="card card-body mt-1 mb-3">
        The service is free to use for public repositories. If you're an open source contributor you can use UndercoverCI free of charge.
      </div>
    </div>

    <p>
      <a class="lead" data-bs-toggle="collapse" href="#collapse_7" role="button" aria-expanded="false" aria-controls="collapse_2">
        Is there an option to purchase an annual subscription?
      </a>
    </p>
    <div class="collapse" id="collapse_7">
      <div class="card card-body mt-1 mb-3">
        Yes. If you decide go with annual billing, you can expect 10% off compared to a montly plan.
      </div>
    </div>
  </div>
</div>
