<div class="container py-5">
  <div class="mb-4">
    <h1 class="display-4">Privacy policy</h1>
  </div>
  <a class="wpembed-inline" href="https://app.websitepolicies.com/policies/view/f0abzujw">Privacy policy</a><script src="https://cdn.websitepolicies.io/lib/embed/embed.min.js" defer></script>
</div>