/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

// index
body {
  padding-top: 5rem;
}

.starter-template {
  text-align: center;
  padding: 3rem 1.5rem;

  @include media-breakpoint-up(md) {
    padding: 6rem 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 10rem 1.5rem;
  }
}

// pricing
.pricing
.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
