<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Install the UndercoverCI GitHub App</h5>
    </div>
    <div class="modal-body">
      UndercoverCI will ask for write permission to your checks, pull requests and code. Proceed to complete installation and configure access on your GitHub account.
    </div>
    <div class="modal-footer">
      <%= link_to "Install UndercoverCI on your GitHub account", dash_installation_url, class: "btn btn-primary" %>
    </div>
  </div>
</div>
